*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    
    background: url(/Assets/img/background-bottom-right.svg),url(/Assets/img/background-top-left.svg);
    background-repeat: no-repeat;
    background-position: bottom right,top left ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-top: 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
    
}
#brand{
   color: white;
   text-decoration: none;
   padding: 1rem;
}
#brand:hover{
    background-color: #555;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    margin-top: 1rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}


.fotoPerfil{
    width: 12rem;
    border-radius: 15px;
}
.info h1{
    font-size:large;
    font-weight: 600;
    margin-top: .5rem;
}
.nombre p{
    font-size:large;
    font-weight: 600;
    margin-top: .5rem;
}
.sobre-mi h2{
    font-size: 1.5rem;
    font-weight: 600;
    
}
.titulo1 p{
    font-size: 2rem;
    font-weight: 600;
}
.titulo2{
    font-size: 2rem;
    font-weight: 600;
}
i{
    filter:invert(10%);
    margin-right: 1rem;
    margin-top: .5rem;
}
hr{
    border: solid 1px  orange;;
    border-radius: 1px;
    width: 100%;
    
}
.info li{
    list-style: none;
    margin-left: 1%;
}
.info ul li{
    margin-top: .5rem;
    font-weight: 500;
}
.download{
    border-radius: 15px;
    width: 90%;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.carta{
    border: 1px solid #333;
    border-radius: 15px;

}
.carta h3,p,img{
    margin-left: 1rem;
}
.api,.web,.sql{
    height: 3rem;
}
.spring{
    height: 2.5rem;
}
.DB{
    height: 2.5rem;
    margin-top: 5px; 
}
.oracle{
    height: 2rem;
}
.alink{
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 5px;
}
.hab{
    justify-content: space-between;
    display: flex;
    grid-template-columns: calc(33%-10px);
    gap: 10px;
}
.habilidades ul li{
    list-style: none;
    color: white;
    border-radius: 2rem;
    height: 1.5rem;
    background-color: rgba(68,86,108,.1);
}
.barra-progreso{
    margin: 5px;
    border-radius: 2rem;
    height: 1.5rem;
    background-color: rgba(68,86,108,.1);
}
.progreso{
    align-items: center;
    border-radius: inherit;
    height: 100%;
    padding: 0 0.75rem;
    background-color: #304cfd;
    font-size: .75rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.col-sm-4 p{
    font-size: 1.5rem;
}







footer {
    text-align: center;
    padding-top: 10px;
    background-color: #333;
    color: white;
    margin-top: auto;
    
  }
