*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    background: url(/Assets/img/background-bottom-right.svg),url(/Assets/img/background-top-left.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: bottom right,bottom left ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;

}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    margin-top: 1rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}

.section{
    margin: 1rem;
    display: flex;
    color: black;
    }

.fotoPerfil{
    width: 12rem;
    border-radius: 15px;
    filter: invert(20%);
}
.info p,h1{
    font-size:large;
    font-weight: 600;
}
.sobre-mi p,h2{
    font-size: 2rem;
    font-weight: 600;
}

i{
    filter:invert(20%);
    margin-right: 1rem;
}
hr{
    border: 2px solid orange;
    border-radius: 1px;
    width: 100%;
    
}
.info li{
    list-style: none;
    margin-left: -18%;
}